.login-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;

}

.login-form h2 {
    margin-bottom: 25px;
}

.login-form input {
    margin-bottom: 25px;
}

.login-form a {
    text-decoration: none;
    color: gray;
}

.login-form a:hover {

    color: #08a8f2;
}


.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-logo img {
    width: 300px;
    border-radius: 50%;
}