.shop-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    color: white;
    justify-content: center;

}

.cart {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;

}

.cart img {
    width: 80%;

}

.cost {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 5px;
    background-color: white;
    border-radius: 20px;
    color: black;
}


.cart button {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;

}

.cart button:hover {
    color: white;
    background-color: #08a8f2;
    cursor: pointer;
}



@media screen and (max-width: 1400px) {

    .cart img {
        height: 250px;

    }
}

/*----------------------------- Styl dla szerokości ekranu 960px ------------------------------------*/

@media screen and (max-width: 960px) {

    .cart img {
        height: 200px;

    }

}