/*----------------------------- Logo na srodku ------------------------------------*/


.home-logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-logo img {
    border-radius: 50%;
    width: 400px;
    cursor: pointer;
}


/*----------------------------- Tekst pod logiem ------------------------------------*/


.home-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

/*----------------------------- Przycisk pod tekstem  ------------------------------------*/

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button button {
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.home-button button:hover {
    font-size: 22px;
    transition: all 0.5s;
    background-color: #08a8f2;
}

.home-logo img:hover {


    transition: all 1.5s;
    width: 550px;

}



/*----------------------------- Styl dla szerokości ekranu 1280px ------------------------------------*/

@media screen and (max-width: 1400px) {



    .home-logo img {
        width: 250px;
    }

    .home-logo img:hover {
        transition: all 1.5s;
        width: 350px;

    }

    .home-img img {
        height: 40px;
    }

    .home-social {
        font-size: 15px;
    }

    .home-social :hover {
        font-size: 20px;
        transition: all 0.5s;
    }



    .home-button button {
        font-size: 10px;
    }

    .home-button button:hover {
        font-size: 12px;

    }


}

/*----------------------------- Styl dla szerokości ekranu 960px ------------------------------------*/

@media screen and (max-width: 960px) {



    .home-logo img {
        width: 150px;
    }

    .home-img img {
        height: 40px;
    }

    .home-logo img:hover {


        transition: all 1.5s;
        width: 250px;

    }

    .home-social {
        font-size: 12px;
    }

    .home-social :hover {
        font-size: 17px;
        transition: all 0.5s;
    }



    .home-button button {
        font-size: 10px;
    }

    .home-button button:hover {
        font-size: 12px;

    }



    .home-footer {
        font-size: 10px;
    }
}